{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block content %} 
    <title>{% block title %}Home | Icecreamshop{% endblock %}</title>                   
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="{{ path('orderpage') }}">add an order</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid text-center">    
        <div class="row content">
            <div class="col-sm-2 sidenav">

            </div>
            <div class="col-sm-8 text-left"> 
                <h1>Welcome to Icecream Shop</h1>
                <h3>Menu</h3>
                <p>
                    Please choose from below <strong>Flavours:</strong><br><br>
                    {% for flavour,cost in flavourconstants %}
                        {% for name,id in flavours %}          
                            {% if id == flavour %}      
                                {{ name }} => Rs. {{ cost }}/scoop<br>
                            {% endif %}      
                        {% endfor %}
                    {% endfor %} 
                </p>
                <hr>
                <br>
                <p>
                    Please choose from below <strong>Toppings:</strong><br><br>
                    {% for topping,cost in toppingconstants %}
                        {% for name,id in toppings %}          
                            {% if id == topping %}      
                                {{ name }} => Rs. {{ cost }}<br>
                            {% endif %}      
                        {% endfor %}
                    {% endfor %} 
                </p>
                <br>
                <a href="{{ path('orderpage') }}" class="list-item button button-blue ">                     
                    <button type="button" class="btn btn-primary">Add an order</button> 
                </a> 
            </div>
            <div class="col-sm-2 sidenav">

            </div>
        </div>
    </div>  
{% endblock %}  