{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
  <div class="container">       
          <div class="row"> 
              <div class="col-sm-2"> </div> 
             <div class="col-sm-8 panel panel-default">
               <div class="panel-body">The page you are looking for does not exist. Please choose appropriate one</div>
               </div> 
              <div class="col-sm-2"> </div> 
          </div> 
          <div class="row">
              <div class="col-sm-10" align="center">      
              <img src="{{ asset('bundles/app/img/oops.jpg') }}" width="250" height="250"/>
              </div>
          </div>
  </div>    
{% endblock %} 