{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css">
{% endblock %}

{% block content %}       
    <title>{% block title %}Add Order{% endblock %}</title>
    <div class="container">
        {{ form_start(form, {'method': 'post', 'action': path('orderpage'), 'attr': {'class': 'orderpage','novalidate': 'novalidate'}}) }}

        <div class="row" col-sm-offset-2>      
            <div class="col-sm-4"><h3>Add&nbsp;Order</h3></div>
            <div class="col-sm-2"> 
                <a href="{{ path('homepage') }}" class="list-item button button-blue ">                     
                   <h3> Home Page </h3>
                </a>
            </div>
        </div>    
        <br>
        {# flash message #}
        <div class="row">     
            <div class="col-sm-1"> </div>
            <div class="col-sm-10">
                {% for message in app.flashes('error') %}
                    <div class="flash-error alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <center><b>{{ message }}</b></center>
                    </div>
                {% endfor %}  
            </div>
            <div class="col-sm-1"> </div> 
        </div>   
        <br>
        {# render the customername #}
        <div class="row">
            <div class="col-sm-3">{{ form_label(form.customername, 'Please enter customer name *') }}</div>
            <div class="col-sm-2">{{ form_widget(form.customername) }}</div>
            <div class="col-sm-4">{{ form_errors(form.customername) }}</div>
        </div>  
        <br> 
        {# render the collectionform #}
        <div class="row">
            <div class="col-sm-3">{{ form_label(form.icecreams, 'Please add an Icecream *') }}</div>
            <div class="col-sm-5">        
                <ul class="icecream" data-prototype="{% filter escape %}
                    {{ include('AppBundle:Order:prototype.html.twig', { 'form': form.icecreams.vars.prototype }) }}
                    {% endfilter %}">
                        {% for icecream in form.icecreams %}
                            <li>
                                <div class="row">  
                                    <div class="col-sm-2">{{ form_label(icecream.flavour, 'Flavour*') }}</div>
                                    <div class="col-sm-3">{{ form_widget(icecream.flavour) }}</div>
                                    <div class="col-sm-2">{{ form_label(icecream.numofscoops, 'Number of scoops*') }}</div>
                                    <div class="col-sm-1">{{ form_widget(icecream.numofscoops) }}</div> 
                                    <div class="col-sm-4">{{ form_errors(icecream.numofscoops) }}</div> 
                                </div>
                                <br>
                                <div class="row">  
                                    <div class="col-sm-4">{{ form_errors(icecream.flavour) }}</div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <br>
            {# render the toppings #}
            <div class="row">           
                <div class="col-sm-3">{{ form_label(form.toppings, 'Please select as many toppings you like') }}</div>   
                <div class="col-sm-2">{{ form_widget(form.toppings) }}</div>
                <div class="col-sm-4">{{ form_errors(form.toppings) }}</div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-8">
                    (Note: * means required field)
                </div>    
            </div>   
            <br> 
            {# submit button #}
            <div class="row">  
                <div class="col-sm-2 col-sm-offset-3">
                    <button type="submit" name="submit" value="submit" class="btn btn-primary">Place order</button></div>
                <div class="col-sm-2"></div>
            </div>   
            {{ form_end(form) }}
        </div>    
{% endblock %}

{% block javascripts %}
    {{ parent() }}   
    <script src="{{ asset('bundles/app/js/orders.js') }}"></script> 
    <script src="{{ asset('bundles/app/js/style.js') }}"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.jquery.min.js"></script>
{% endblock %}