{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
   {{ parent() }}
{% endblock %}

{% block content %}       
    <title>{% block title %}Order Summary Page{% endblock %}</title>
    <div class="container">
        
        <div class="row" col-sm-offset-2>      
            <div class="col-sm-4"><h3>Order&nbsp;Summary&nbsp;Page</h3></div>        
        </div>    
        <br>  
        {# customername #}
        <div class="row">
            <div class="col-sm-3">Customername</div>
            <div class="col-sm-2">{{ order.customername }}</div>
        </div>
        <br> 
        {# totalcost #}
        <div class="row">
            <div class="col-sm-3">Totalcost</div>
            <div class="col-sm-2">{{ order.totalcost }}&nbsp;Rs</div>
        </div> 
        <br> 
        {# icecreams #}
        <div class="row">
            <div class="col-sm-3">Icecreams</div>
            <div class="col-sm-2">
            {% for icecream in order.icecreams %}
            {% for flavour,id in flavourconstants %}
                {% if icecream.flavour == id %}
                {{ flavour }}({{ icecream.numofscoops }}&nbsp;scoop(s)),
                {% endif %}
            {% endfor %}
            {% endfor %}
            </div>
        </div>
        <br>  
        {# toppings #}
        <div class="row">
            <div class="col-sm-3">Toppings</div>
            <div class="col-sm-2">
            {% for topping in order.toppings %}
            {% for toppingname,id in toppingconstants %}
                {% if topping == id %}
                {{ toppingname }},
                {% endif %}
            {% endfor %}
            {% endfor %}
        </div> 
        </div>
        <br>
        {# add new order #}
        <div class="row">
        <div class="col-sm-12">
            <h4> <a href="{{ path('orderpage') }}">Add new order</a> </h4>
        </div>    
        </div>      
    </div>    
{% endblock %}   

{% block javascripts %}
{{ parent() }}   
{% endblock %}