{% block javascripts %} 
    <script src="{{ asset('bundles/app/js/style.js') }}"></script> 
{% endblock %}  
 {# prototype form #}
 <div class="row">  
    <div class="col-sm-2">{{ form_label(form.flavour, 'Flavour*') }}</div>
    <div class="col-sm-3">{{ form_widget(form.flavour) }}</div>
    <div class="col-sm-2">{{ form_label(form.numofscoops, 'Number of scoops*') }}</div>
    <div class="col-sm-1">{{ form_widget(form.numofscoops) }}</div>
    <div class="col-sm-4">{{ form_errors(form.numofscoops) }}</div>
</div>
<br>
<div class="row">  
    <div class="col-sm-4">{{ form_errors(form.flavour) }}</div> 
</div>  