{% extends '::base.html.twig' %}

{% block meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block stylesheets %}
 <!-- bootstrap.min.css  -->   
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
  
{% block body %}   
<title>{% block title %}Icecream Shop{% endblock %}</title>
  

{% block content %}         
        
{% endblock %}
    
{% block footer %}

{% endblock footer %}
{% endblock %}

{% block javascripts %}
  <!-- jquery.min.js, bootstrap.min.js  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}